body {
    margin: 0;
    background-color: #fffcf5;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.status {
    margin-top: 3em;
    margin-left: 1em;
    letter-spacing: 0.1em;
    font: 2.0em normal Verdana, Arial, Helvetica, sans-serif;
}

.first {
    color: #9a9a9a;
}

.second {
    color: #e8cd39;
}

.content {
  margin: 50px;
  line-height: 140%;
}

.footer {
    font: 0.7em normal Verdana, Arial, Helvetica, sans-serif;
    color: #9a9a9a;
    position: fixed;
    text-align: right;
    padding-right: 1em;
    bottom: 0;
    width: 100%;
  }

  .copyright {
    padding-left: 1em;
    padding-right: 1em;
  }

  .entries {
    font: 1 em normal Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    list-style: none;
  }

  #links a img {
    margin: 10px;
  }