body {
    margin: 0;
    background-color: #fffcf5;
}

.status {
    margin-top: 3em;
    margin-left: 1em;
    letter-spacing: 0.1em;
    font: 2.0em normal Verdana, Arial, Helvetica, sans-serif;
}

.first {
    color: #9a9a9a;
}

.second {
    color: #e8cd39;
}

.footer {
    font: 0.7em normal Verdana, Arial, Helvetica, sans-serif;
    color: #9a9a9a;
    position: fixed;
    text-align: right;
    padding-right: 1em;
    bottom: 0;
    width: 100%;
  }

  .copyright {
    padding-left: 1em;
    padding-right: 1em;
  }